<h1>Scrape history</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><a href='<%= page_path(page.id) %>'><%= page.name %></a></td>
        <td><%= page.links.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>