<%= turbo_frame_tag 'pages_list' do %>
  <h1><%= @page.name %></h1>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <% @page.links.each do |link| %>
        <tr>
          <td><%= link['text'].present? ? link['text'] : 'No Name' %></td>
          <td><%= link['href'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
